.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end; // Mobile Style
    padding: 1rem 2rem;
    background-color: rgb(250, 250, 250); // Change later
  }

  &__wrapper {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  // Mobile Menu
  &__menu {
    cursor: pointer;
    span {
      display: block;
      width: 26px;
      height: 3px;
      background-color: rgb(20, 20, 20); // Change later

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  // Desktop Menu
  &__nav {
  }

  &__links {
    display: none;
    align-items: center;
    justify-content: center;
  }
}
